/* common_general_rules */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* /common_general_rules */

body {
	background-color: #000;
}

.container {
	width: 90%;
	height: auto;
	margin: auto;
	background-color: #183a4a;
}

h1 {
	color: #fff;
	text-align: center;
	padding: 3rem 0;
	font-size: 80px;
}
.wrapper {
	width: 90%;
	margin: auto;
}

.list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.box {
	background-color: #3d88ae;
}

.box,
.box_3,
.box_5,
.box_15 {
	width: calc(100% / 8);
	height: 170.85px;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
}

.box_3 {
	background-color: #61d2a4;
}

.box_5 {
	background-color: #f9d277;
}

.box_15 {
	background-color: #de5471;
}
